{% extends "admin/change_form.html" %}
{% load add_preserved_filters from admin_urls %}

{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}" id="{{ tool.name }}">
      {% url tools_view_name pk=object_id tool=tool.name as action_url %}
      {% if original.active == True %}
          {% if tool.name == 'toggle_status' or tool.name == 'toggle_publish' %}
              <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
                 {% for k, v in tool.custom_attrs.items %}
                   {{ k }}="{{ v }}"
                 {% endfor %}
                 class="{{ tool.standard_attrs.class }}">
              {{ tool.label|capfirst }}
              </a>
          {% elif tool.name == 'toggle_status' %}
              <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
                 {% for k, v in tool.custom_attrs.items %}
                   {{ k }}="{{ v }}"
                 {% endfor %}
                 class="{{ tool.standard_attrs.class }}">
              {{ tool.label|capfirst }}
              </a>
          {% endif %}
      {% else %}
          {% if tool.name == 'toggle_status' %}
              <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
                 {% for k, v in tool.custom_attrs.items %}
                   {{ k }}="{{ v }}"
                 {% endfor %}
                 class="{{ tool.standard_attrs.class }}">
              {{ tool.label|capfirst }}
              </a>
          {% endif %}
      {% endif %}
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}
