@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, select, .btn, ul, li, a {
  font-family: 'Lora', serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #708090;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #d2d5d7;
  border-radius: 0.25rem;
}

/* Calculator CSS Start Here... */
body.show {
  overflow: hidden;
  position: inherit;
}

body.show::before {
  content: '';
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

body.show::after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(153, 150, 150, 0.7);
  z-index: 99;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    border-top-color: #0070c0;
  }
  25% {
    -webkit-transform: rotate(90deg);
    border-top-color: #009e6d;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border-top-color: #ffc000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border-top-color: #ed7d31;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: #0070c0;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-top-color: #009e6d;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: #ffc000;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: #ed7d31;
  }
}

.main-container header .topHeader h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 3px;
}

.main-container header .topHeader h1::first-letter {
  font-size: 70px;
}

.main-container header .topHeader h1 small {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-container header .btnContainer .userGuide {
  -webkit-box-shadow: 0px -1px 4px #5f6162 inset;
          box-shadow: 0px -1px 4px #5f6162 inset;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}

.main-container header .bgColor {
  height: 15px;
}

.main-container header .bgColor div:nth-child(1) {
  background: #0070c0;
}

.main-container header .bgColor div:nth-child(2) {
  background: #009e6d;
}

.main-container header .bgColor div:nth-child(3) {
  background: #ffc000;
}

.main-container header .bgColor div:nth-child(4) {
  background: #ed7d31;
}

.main-container .euro {
  padding: 0.375rem 0.65rem;
}

.main-container .customBorder {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.main-container .customBorder .directionIcon {
  margin: 0.375rem 0.55rem;
  min-width: 18px;
  max-width: 18px;
}

.main-container .customBorder .directionIcon.up g {
  fill: #009e6d;
}

.main-container .customBorder .directionIcon.down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-container .customBorder .directionIcon.down g {
  fill: #ff0000;
}

.main-container .customBorder .directionIcon.right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-container .customBorder .directionIcon.right g {
  fill: #ed7d31;
}

.main-container .content .contentSec {
  background: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 1px 2px 10px darkgrey;
          box-shadow: 1px 2px 10px darkgrey;
  border-radius: 5px;
}

.main-container .content .form-control:disabled,
.main-container .content .form-control[readonly] {
  background-color: #f9f8f8;
}

.main-container .content .inflationAdj {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-container .content .inflationAdj input {
  padding: initial;
  margin-right: 5px;
}

.main-container .content .input-group-prepend + input {
  margin: 0;
}

.main-container .content .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #212529;
  padding-left: 0;
}

.main-container .content .select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  padding: .250rem 2.25rem .250rem .75rem;
  height: inherit;
  outline: none;
}

.main-container .content .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-container .content .select2-container {
  width: inherit !important;
}

@media (max-width: 870px) {
  .main-container header .topHeader h1 {
    font-size: 45px;
  }
  .main-container header .topHeader h1::first-letter {
    font-size: 65px;
  }
  .main-container header .topHeader h1 small {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .main-container header .topHeader {
    display: block !important;
  }
  .main-container header .topHeader h1 {
    font-size: 35px;
    text-align: center;
  }
  .main-container header .topHeader h1::first-letter {
    font-size: 60px;
  }
  .main-container header .topHeader h1 small {
    font-size: 24px;
  }
  .main-container .btnContainer .logo {
    max-width: 180px;
  }
  .content #gbp, .content #convertedEur, .content #convertedGbp {
    border-top: 1px solid #ced4da !important;
  }
  .content .inflationAdj {
    padding-left: 35px !important;
  }
  .mainsection {
    width: 100%;
  }
  .mainsection .content {
    padding: 0 15px;
  }
  body.show::before {
    left: 40%;
  }
}

@media (max-width: 576px) {
  .main-container header .topHeader {
    display: block !important;
  }
  .main-container header .topHeader h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
  }
  .main-container header .topHeader h1::first-letter {
    font-size: 40px;
  }
  .main-container header .topHeader h1 small {
    font-size: 18px;
    display: block;
  }
}

/* Not Found CSS Start Here... */
.notFoundContainer h1, .notFoundContainer h3, .notFoundContainer p, .notFoundContainer .btn, .notFoundContainer span {
  font-family: 'Fredoka', sans-serif;
}

.notFoundContainer h1 {
  font-weight: 600;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notFoundContainer h1 span:nth-child(1) {
  -webkit-animation: bounce 1s ease infinite;
          animation: bounce 1s ease infinite;
}

.notFoundContainer h1 span:nth-child(2) {
  -webkit-animation: bounce 1s ease infinite 0.1s;
          animation: bounce 1s ease infinite 0.1s;
}

.notFoundContainer h1 span:nth-child(3) {
  -webkit-animation: bounce 1s ease infinite 0.2s;
          animation: bounce 1s ease infinite 0.2s;
}

.notFoundContainer h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.notFoundContainer p {
  margin-bottom: 10px;
}

.notFoundContainer p a {
  color: #ed7d31;
  text-decoration: none;
  position: relative;
}

.notFoundContainer p a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #ed7d31;
}

.notFoundContainer p a:hover::after {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.notFoundContainer .btn {
  background: #0070c0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.notFoundContainer .btn:hover {
  background: #065085;
}

.notFoundContainer .notfound {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0070c0), to(#ed7d31));
  background-image: linear-gradient(to bottom right, #0070c0, #ed7d31);
  color: #ffffff;
}

.notFoundContainer .notfound .notfoundcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.notFoundContainer .notfound .notfoundcontent .btn {
  max-width: 200px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  50% {
    -webkit-transform: scale(1, 1) translateY(-25px);
            transform: scale(1, 1) translateY(-25px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  50% {
    -webkit-transform: scale(1, 1) translateY(-25px);
            transform: scale(1, 1) translateY(-25px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

/* Analysis CSS Start Here... */
.analysisContainer {
  font-size: 12px;
}

.analysisContainer table.dataTable th, .analysisContainer table.dataTable td {
  white-space: nowrap;
  padding: 10px 18px;
}

.analysisContainer table.dataTable tfoot th, .analysisContainer table.dataTable tfoot td {
  padding: 10px 18px;
}

.analysisContainer table thead {
  background: #646363;
  color: #ffffff;
}

.analysisContainer table thead tr, .analysisContainer table thead th {
  font-weight: normal;
}

.analysisContainer table tbody td,
.analysisContainer table tfoot td {
  border: 1px solid #646363;
}

.analysisContainer #combineAvg_wrapper .dataTables_filter {
  display: none;
}

.analysisContainer #combineAvg_wrapper #combineAvg thead select {
  background: inherit;
  border: none;
  outline: none;
  color: #ffffff;
}

.analysisContainer #combineAvg_wrapper #combineAvg thead select option {
  background: #646363;
  color: #ffffff;
}

/* Financial Analysis CSS */
.Select--multi .Select-value-label {
  color: #212529;
  background: white;
}

.Select--multi .Select-value-icon {
  background: white;
  border-right: 1px solid lightgray !important;
}

.Select--multi .Select-value-icon:hover {
  background: white !important;
}

.Select--multi .Select-value {
  border: 1px solid lightgray !important;
}

.VirtualizedSelectOption {
  background-color: #4599b3;
  color: #ffffff;
  cursor: pointer;
  padding-left: 10px;
}

.VirtualizedSelectFocusedOption {
  background-color: #4599b3;
  font-size: 17px;
  color: #ffffff;
}

.Select-clear-zone:hover,
.Select-arrow-zone:hover {
  color: #4599b3 !important;
}

#react-entry-point #mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

#react-entry-point #mainContainer .ml-0 {
  margin-left: 0;
}

#react-entry-point #mainContainer #approval_rate,
#react-entry-point #mainContainer #avg_price_increase,
#react-entry-point #mainContainer #comb_avg_price_increase,
#react-entry-point #mainContainer #avg_price_change_perc,
#react-entry-point #mainContainer #society_approval_rate_perc,
#react-entry-point #mainContainer #filter_perc,
#react-entry-point #mainContainer #fig_dropdown .Select-control,
#react-entry-point #mainContainer #description {
  width: 100%;
  height: 36px;
}

#react-entry-point #mainContainer .topSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  gap: 30px;
  margin-bottom: 30px;
}

#react-entry-point #mainContainer .topSection > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

#react-entry-point #mainContainer .topSection > div input {
  width: 100%;
}

#react-entry-point #mainContainer .topSection .ddContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#react-entry-point #mainContainer .topSection .ddContainer #title13 {
  width: calc(90% / 3);
}

#react-entry-point #mainContainer .topSection .ddContainer #upload_file {
  padding: 2px;
}

#react-entry-point #mainContainer .topSection .ddContainer #upload_file .uploadImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#react-entry-point #mainContainer .topSection .ddContainer #upload_file .uploadImg img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#react-entry-point #mainContainer .topSection .ddContainer #upload_file .uploadImg img:last-child {
  margin-left: 15px;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-fill-width .cell table {
  border-collapse: separate;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-freeze-top, .create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-freeze-left, .create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-virtualized {
  overflow-x: auto !important;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tbody tr {
  font-size: 12px;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tbody tr:nth-child(2) th {
  width: 16.6% !important;
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
  padding: 0 10px;
  border-top: none !important;
  border-bottom: none !important;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tbody tr td {
  background: #4599b3;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  width: 16.6%;
  border-top: none !important;
  border-bottom: none !important;
  font-size: 11px;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tbody tr td.cell--selected.focused {
  background: #4599b3 !important;
  border-top: none !important;
  border-bottom: none !important;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tr {
  min-height: 40px;
  height: 40px;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
  background: #0c1639;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th > div .column-header--sort {
  margin-right: 8px;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th > div .column-header--sort svg path {
  fill: lightgray;
}

.create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th > div .column-header--sort svg[data-icon="sort-up"] path, .create_container2 .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th > div .column-header--sort svg[data-icon="sort-down"] path {
  fill: #ffffff;
}

.create_container2 .dash-table-container .previous-next-container .first-page, .create_container2 .dash-table-container .previous-next-container .previous-page, .create_container2 .dash-table-container .previous-next-container .page-number, .create_container2 .dash-table-container .previous-next-container .next-page, .create_container2 .dash-table-container .previous-next-container .last-page, .create_container2 .dash-table-container .previous-next-container .page-number .current-page-container input.current-page {
  font-size: 14px;
  color: #212529;
}

.create_container2 .dash-table-container .previous-next-container .first-page svg path, .create_container2 .dash-table-container .previous-next-container .previous-page svg path, .create_container2 .dash-table-container .previous-next-container .page-number svg path, .create_container2 .dash-table-container .previous-next-container .next-page svg path, .create_container2 .dash-table-container .previous-next-container .last-page svg path, .create_container2 .dash-table-container .previous-next-container .page-number .current-page-container input.current-page svg path {
  fill: #212529;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btnContainer .btnSubmit,
.btnContainer .btnExport,
.btnContainer .btnApply {
  padding: 0 30px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #4599b3;
  color: #ffffff;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  text-transform: capitalize;
}

.btnContainer .btnSubmit:hover,
.btnContainer .btnExport:hover,
.btnContainer .btnApply:hover {
  background: #5fa2b7;
}

.tableContainer {
  overflow-x: auto;
}

@media (max-width: 576px) {
  #react-entry-point #mainContainer .btnContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media (max-width: 992px) {
  #react-entry-point #mainContainer .topSection > div {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  #react-entry-point #mainContainer .topSection .ddContainer #title13 {
    width: 100%;
  }
}

/* Rate Analysis CSS Start */
.rateAnalysisContainer,
.rateAnalysisChangeContainer {
  -webkit-box-shadow: 1px 2px 5px darkgrey;
          box-shadow: 1px 2px 5px darkgrey;
  padding: 12px;
}

.rateAnalysisContainer h5,
.rateAnalysisChangeContainer h5 {
  padding: 12px;
}

.rateAnalysisContainer .table,
.rateAnalysisChangeContainer .table {
  margin-bottom: 0;
  border-spacing: revert;
}

.rateAnalysisContainer .table thead > tr > th,
.rateAnalysisContainer .table thead > tr > td, .rateAnalysisContainer .table tbody > tr > th,
.rateAnalysisContainer .table tbody > tr > td,
.rateAnalysisChangeContainer .table thead > tr > th,
.rateAnalysisChangeContainer .table thead > tr > td,
.rateAnalysisChangeContainer .table tbody > tr > th,
.rateAnalysisChangeContainer .table tbody > tr > td {
  padding: 12px 8px;
  color: #ffffff;
  font-weight: normal;
  width: 90px !important;
  font-family: 'Lora', serif;
  text-align: center;
}

.rateAnalysisContainer .table tfoot tr td,
.rateAnalysisChangeContainer .table tfoot tr td {
  padding: 12px 8px 12px 0;
  border-top: 1px solid #dee2e6;
  border-right: none;
}

.rateAnalysisContainer .table tfoot tr td span,
.rateAnalysisChangeContainer .table tfoot tr td span {
  font-size: 14px;
  border: 1px solid #dee2e6;
  background: #dee2e6;
  border-radius: 5px;
  padding: 5px 10px;
}

.rateAnalysisContainer .table thead > tr > th,
.rateAnalysisChangeContainer .table thead > tr > th {
  background: #0c1639;
  border-right: none;
  font-size: 12px;
  white-space: normal;
}

.rateAnalysisContainer .table thead > tr > th:first-child .form-check-input,
.rateAnalysisChangeContainer .table thead > tr > th:first-child .form-check-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  opacity: 1;
}

.rateAnalysisContainer .table tbody > tr > td,
.rateAnalysisChangeContainer .table tbody > tr > td {
  border-top: none;
  background: #4599b3;
  font-size: 11px;
  word-break: break-all;
  white-space: normal;
}

.rateAnalysisContainer .table tbody > tr > td:last-child,
.rateAnalysisChangeContainer .table tbody > tr > td:last-child {
  text-align: left;
}

.rateAnalysisContainer .table tbody > tr > td:first-child .form-check-input,
.rateAnalysisChangeContainer .table tbody > tr > td:first-child .form-check-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  opacity: 1;
}

.rateAnalysisContainer .table tbody > tr > td a,
.rateAnalysisChangeContainer .table tbody > tr > td a {
  color: #ffffff;
  text-decoration: none;
}

.rateAnalysisContainer .table tbody > tr > td a:hover,
.rateAnalysisChangeContainer .table tbody > tr > td a:hover {
  text-decoration: underline;
}

.rateAnalysisContainer .table tbody > tr > td .crud,
.rateAnalysisChangeContainer .table tbody > tr > td .crud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rateAnalysisContainer .table tbody > tr > td .crud a,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a {
  cursor: pointer;
  font-size: 14px;
  border: 1px solid;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rateAnalysisContainer .table tbody > tr > td .crud a.btn-edit,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a.btn-edit {
  background: #ffc107;
}

.rateAnalysisContainer .table tbody > tr > td .crud a.btn-approve,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a.btn-approve {
  background: #198754;
}

.rateAnalysisContainer .table tbody > tr > td .crud a.btn-reject,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a.btn-reject {
  background: #dc3545;
}

.rateAnalysisContainer .table tbody > tr > td .crud i,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i {
  cursor: pointer;
}

.rateAnalysisContainer .table tbody > tr > td .crud i.bi-pencil-fill::before,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i.bi-pencil-fill::before {
  color: #ffa500;
}

.rateAnalysisContainer .table tbody > tr > td .crud i.bi-trash3-fill::before,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i.bi-trash3-fill::before {
  color: #ff0000;
}

.rateAnalysisContainer .table tbody > tr > td .crud i.bi-x-octagon-fill::before,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i.bi-x-octagon-fill::before {
  color: #bff1f3;
}

.rateAnalysisContainer .table tbody td, .rateAnalysisContainer .table tbody th,
.rateAnalysisChangeContainer .table tbody td,
.rateAnalysisChangeContainer .table tbody th {
  padding: 12px 8px;
  border-right: none;
}

#rateAnalysis_wrapper,
#rateAnalysisDetails_wrapper,
#rateAnalysisHistory_wrapper {
  margin-top: 15px;
}

#rateAnalysis_wrapper #rateAnalysis_filter label,
#rateAnalysis_wrapper #rateAnalysisDetails_filter label,
#rateAnalysis_wrapper #rateAnalysisHistory_filter label,
#rateAnalysisDetails_wrapper #rateAnalysis_filter label,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_filter label,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_filter label,
#rateAnalysisHistory_wrapper #rateAnalysis_filter label,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_filter label,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_filter label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
}

#rateAnalysis_wrapper #rateAnalysis_filter label input,
#rateAnalysis_wrapper #rateAnalysisDetails_filter label input,
#rateAnalysis_wrapper #rateAnalysisHistory_filter label input,
#rateAnalysisDetails_wrapper #rateAnalysis_filter label input,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_filter label input,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_filter label input,
#rateAnalysisHistory_wrapper #rateAnalysis_filter label input,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_filter label input,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_filter label input {
  border: 1px solid darkgray;
  -webkit-box-shadow: 1px 2px 5px darkgrey;
          box-shadow: 1px 2px 5px darkgrey;
  padding: 10px;
}

#rateAnalysis_wrapper #rateAnalysis_length label,
#rateAnalysis_wrapper #rateAnalysisDetails_length label,
#rateAnalysis_wrapper #rateAnalysisHistory_length label,
#rateAnalysisDetails_wrapper #rateAnalysis_length label,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_length label,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_length label,
#rateAnalysisHistory_wrapper #rateAnalysis_length label,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_length label,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_length label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 15px;
}

#rateAnalysis_wrapper #rateAnalysis_length label select,
#rateAnalysis_wrapper #rateAnalysisDetails_length label select,
#rateAnalysis_wrapper #rateAnalysisHistory_length label select,
#rateAnalysisDetails_wrapper #rateAnalysis_length label select,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_length label select,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_length label select,
#rateAnalysisHistory_wrapper #rateAnalysis_length label select,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_length label select,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_length label select {
  border: 1px solid darkgray;
  padding: 5px;
}

#rateAnalysis_wrapper #rateAnalysis_info,
#rateAnalysis_wrapper #rateAnalysisDetails_info,
#rateAnalysis_wrapper #rateAnalysisHistory_info,
#rateAnalysisDetails_wrapper #rateAnalysis_info,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_info,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_info,
#rateAnalysisHistory_wrapper #rateAnalysis_info,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_info,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_info {
  font-size: 15px;
}

#rateAnalysis_wrapper #rateAnalysis_paginate,
#rateAnalysis_wrapper #rateAnalysisDetails_paginate,
#rateAnalysis_wrapper #rateAnalysisHistory_paginate,
#rateAnalysisDetails_wrapper #rateAnalysis_paginate,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_paginate,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_paginate,
#rateAnalysisHistory_wrapper #rateAnalysis_paginate,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_paginate,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate {
  font-size: 15px;
  margin-bottom: 15px;
}

#rateAnalysis_wrapper #rateAnalysis_paginate .paginate_button,
#rateAnalysis_wrapper #rateAnalysisDetails_paginate .paginate_button,
#rateAnalysis_wrapper #rateAnalysisHistory_paginate .paginate_button,
#rateAnalysisDetails_wrapper #rateAnalysis_paginate .paginate_button,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_paginate .paginate_button,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_paginate .paginate_button,
#rateAnalysisHistory_wrapper #rateAnalysis_paginate .paginate_button,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_paginate .paginate_button,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate .paginate_button {
  border: none;
  background: #4599b3;
  color: #ffffff !important;
  opacity: 1;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#rateAnalysis_wrapper #rateAnalysis_paginate .paginate_button:hover,
#rateAnalysis_wrapper #rateAnalysisDetails_paginate .paginate_button:hover,
#rateAnalysis_wrapper #rateAnalysisHistory_paginate .paginate_button:hover,
#rateAnalysisDetails_wrapper #rateAnalysis_paginate .paginate_button:hover,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_paginate .paginate_button:hover,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_paginate .paginate_button:hover,
#rateAnalysisHistory_wrapper #rateAnalysis_paginate .paginate_button:hover,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_paginate .paginate_button:hover,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate .paginate_button:hover {
  background: #67a5b9;
}

#rateAnalysis_wrapper #rateAnalysis_paginate .paginate_button.current,
#rateAnalysis_wrapper #rateAnalysisDetails_paginate .paginate_button.current,
#rateAnalysis_wrapper #rateAnalysisHistory_paginate .paginate_button.current,
#rateAnalysisDetails_wrapper #rateAnalysis_paginate .paginate_button.current,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_paginate .paginate_button.current,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_paginate .paginate_button.current,
#rateAnalysisHistory_wrapper #rateAnalysis_paginate .paginate_button.current,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_paginate .paginate_button.current,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate .paginate_button.current {
  background: #0e1941;
  color: #ffffff;
}

#rateAnalysis_wrapper #rateAnalysis_paginate .paginate_button.disabled,
#rateAnalysis_wrapper #rateAnalysisDetails_paginate .paginate_button.disabled,
#rateAnalysis_wrapper #rateAnalysisHistory_paginate .paginate_button.disabled,
#rateAnalysisDetails_wrapper #rateAnalysis_paginate .paginate_button.disabled,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_paginate .paginate_button.disabled,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_paginate .paginate_button.disabled,
#rateAnalysisHistory_wrapper #rateAnalysis_paginate .paginate_button.disabled,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_paginate .paginate_button.disabled,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate .paginate_button.disabled {
  background: #4599b3;
  color: #ffffff;
  opacity: 0.7;
}

#rateAnalysis_wrapper #rateAnalysisDetails_paginate,
#rateAnalysis_wrapper #rateAnalysisHistory_paginate,
#rateAnalysis_wrapper #rateAnalysisDetails_info,
#rateAnalysis_wrapper #rateAnalysisHistory_info,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_paginate,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_paginate,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_info,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_info,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_paginate,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_info,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_info {
  margin-top: 10px;
}

#rateAnalysis_wrapper #rateAnalysisDetails_filter,
#rateAnalysis_wrapper #rateAnalysisHistory_filter,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_filter,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_filter,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_filter,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_filter {
  margin-bottom: 0;
}

#rateAnalysis_wrapper #rateAnalysisDetails_filter label input,
#rateAnalysis_wrapper #rateAnalysisHistory_filter label input,
#rateAnalysisDetails_wrapper #rateAnalysisDetails_filter label input,
#rateAnalysisDetails_wrapper #rateAnalysisHistory_filter label input,
#rateAnalysisHistory_wrapper #rateAnalysisDetails_filter label input,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_filter label input {
  margin-top: 0;
  margin-bottom: 0;
}

#rateAnalysisDetails_wrapper table.dataTable thead .sorting_asc,
#rateAnalysisHistory_wrapper table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
  background-repeat: no-repeat;
  background-position: 30px 14px;
}

#rateAnalysisDetails_wrapper table.dataTable thead .sorting_desc,
#rateAnalysisHistory_wrapper table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
  background-repeat: no-repeat;
  background-position: 30px 14px;
}

#rateAnalysisHistory_wrapper {
  width: 100vw;
  position: relative;
}

#rateAnalysisHistory_wrapper #rateAnalysisHistory_filter,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_paginate {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
}

#rateAnalysisHistory_wrapper #rateAnalysisHistory_length,
#rateAnalysisHistory_wrapper #rateAnalysisHistory_info {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

#rateAnalysisHistory_wrapper table.dataTable thead .sorting_asc {
  background-position: 5px 14px;
}

#rateAnalysisHistory_wrapper table.dataTable thead .sorting_desc {
  background-position: 5px 14px;
}

.rateAnalysisChangeContainer .btnContainerTop {
  gap: 5px;
}

.rateAnalysisChangeContainer .btnContainerTop .btn {
  border-radius: 5px;
  background: #4599b3 !important;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

.rateAnalysisChangeContainer .btnContainerTop .btn:hover {
  background: #5fa2b7 !important;
}

.rateAnalysisChangeContainer input {
  opacity: 1;
}

.rateAnalysisChangeContainer #crumbs ul li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rateAnalysisChangeContainer #crumbs ul li:first-child a::before {
  display: none;
}

.rateAnalysisChangeContainer #crumbs ul li:last-child a {
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 0;
}

.rateAnalysisChangeContainer #crumbs ul li:last-child a::after {
  display: none;
}

.rateAnalysisChangeContainer #crumbs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  background: #4599b3;
  text-align: center;
  padding: 5px 10px 5px 20px;
  position: relative;
  margin: 0 10px 0 0;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}

.rateAnalysisChangeContainer #crumbs ul li a::after {
  content: "";
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 10px solid #4599b3;
  position: absolute;
  right: -10px;
  top: 0;
}

.rateAnalysisChangeContainer #crumbs ul li a::before {
  content: "";
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  left: 0;
  top: 0;
}

.rateAnalysisChangeContainer #crumbs ul li a.selected_status {
  background: #0e1941;
}

.rateAnalysisChangeContainer #crumbs ul li a.selected_status::after {
  border-left-color: #0e1941;
}

.rateAnalysisChangeContainer select,
.rateAnalysisChangeContainer select option {
  cursor: pointer;
}

.rateAnalysisChangeContainer .basicInfo,
.rateAnalysisChangeContainer .metricInfo,
.rateAnalysisChangeContainer .otherInfo {
  background: #ffffff;
  color: #212529;
  -webkit-box-shadow: 1px 2px 5px darkgray;
          box-shadow: 1px 2px 5px darkgray;
  border-radius: 5px;
}

.rateAnalysisChangeContainer .basicInfo h5,
.rateAnalysisChangeContainer .metricInfo h5,
.rateAnalysisChangeContainer .otherInfo h5 {
  background: #4599b3;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
}

.rateAnalysisChangeContainer .historyDetails {
  -webkit-box-shadow: 1px 2px 5px darkgray;
          box-shadow: 1px 2px 5px darkgray;
  border-radius: 5px;
}

.rateAnalysisChangeContainer .historyDetails ul .nav-item .nav-link {
  background: #4599b3 !important;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lora', serif;
}

.rateAnalysisChangeContainer .historyDetails ul .nav-item .nav-link.active {
  background: #0e1941 !important;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > th,
.rateAnalysisChangeContainer .historyDetails .table thead > tr > td,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > th,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > td {
  word-break: unset;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > th:last-child,
.rateAnalysisChangeContainer .historyDetails .table thead > tr > td:last-child,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > th:last-child,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > td:last-child {
  width: 90px !important;
  text-align: center;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > th,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > th {
  font-size: 14px;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > td,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > td {
  font-size: 13px;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item a {
  background: #4599b3;
  color: #ffffff;
  opacity: 1;
  font-weight: bold;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item a:hover {
  background: #67a5b9;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item.active a {
  background: #0e1941;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item.disabled a {
  background: #4599b3;
  color: #ffffff;
  opacity: 0.7;
}

.modal .modal-dialog {
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  top: 50%;
  left: 50%;
  margin: 0 30px 0 0;
}

.modal .modal-header .modal-title {
  font-size: 18px;
}

.modal .modal-footer {
  gap: 15px;
}

.modal .modal-footer .confirmBtn {
  color: #ffffff;
  opacity: 1;
}

.modal .modal-footer .confirmBtn:hover {
  opacity: 0.85;
}

.modal .modal-footer .confirmBtn#modal-btn-si {
  background: #198754 !important;
}

.modal .modal-footer .confirmBtn#modal-btn-no {
  background: #dc3545 !important;
}
/*# sourceMappingURL=style.css.map */
/* ### Datatable Export css ### */
div button.export {background:url('/static/calc/images/export.png');}div
button.export
{
color: transparent;
border: none;
background-repeat: no-repeat;
}.export::after
{
content: 'Download Result ';
background-color: #0c1639;
display: none;
position: absolute;
width: 200px;
height: 35px;
z-index: 999;
color: white;
margin-left: 12px;
font-size: 14px;
text-align: center;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: capitalize;
padding: 2px 15px;
position: absolute;
margin-top: -40px;
}.export::before
{
background-color: #0c1639;
display: none;
position: absolute;
width: 200px;
height: 35px;
z-index: 999;
color: white;
margin-left: 12px;
font-size: 14px;
text-align: center;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: capitalize;
}.export:hover::after
{
display: block;
}.export:hover::before {display: block;}
/* ### Datatable Export css ### */
/*# sourceMappingURL=style.css.map */
/* ### Datatable Export css ### */
div button.export {background:url('/static/calc/images/export.png');}div
button.export
{
color: transparent;
border: none;
background-repeat: no-repeat;
}.export::after
{
content: 'Download Result ';
background-color: #0c1639;
display: none;
position: absolute;
width: 200px;
height: 35px;
z-index: 999;
color: white;
margin-left: 12px;
font-size: 14px;
text-align: center;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: capitalize;
padding: 2px 15px;
position: absolute;
margin-top: -40px;
}.export::before
{
background-color: #0c1639;
display: none;
position: absolute;
width: 200px;
height: 35px;
z-index: 999;
color: white;
margin-left: 12px;
font-size: 14px;
text-align: center;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: capitalize;
}.export:hover::after
{
display: block;
}.export:hover::before 
{display: block;}
/* ### Datatable Export css ### */