.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .map-btn {
    text-decoration: none;

  }

  .red {
    color: #dc3545;
  }

  .green {
    color: #198754;
  }
 
  /* #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  } */
  .marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  #info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
 
    .calculation-box {
        height: 75px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        text-align: center;
    }

   

.area-box {
  position: absolute;
  top: 50%;
  background: #3b618236;
  width: 150px;
  font-size: 15px;
  padding: 10px;
  color: #000;
  
  /* height: 75px;
  width: 150px;
  position: absolute;
  bottom: 40px;
  left: 10px; */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: center;
  }
  
  #map { 
    /* position: absolute;  */
    top: 0;
    bottom: 0;  
    width: 700px;
    height: 500px;
     }
    
    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

/* with side bar css */
/*   
   
   {
    box-sizing: border-box;
  }  
  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
  }
  a {
    color: #404040;
    text-decoration: none;
  }
  a:hover {
    color: #101010;
  }

  .sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
     top: 0;
    left: 0;
    overflow: hidden; 
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  .pad2 {
    padding: 20px;
  }
  .quiet {
    color: #888;
  }
   .map {
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;
  } 
  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }
  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }
  .listings .item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }
  .listings .item:last-child {
    border-bottom: none;
  }
  .listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }
  .listings .item .title small {
    font-weight: 400;
  }
  .listings .item.active .title,
  .listings .item .title:hover {
    color: #8cc63f;
  }
  .listings .item.active {
    background-color: #f8f8f8;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
  }
 
  .leaflet-popup-close-button {
    display: none;
  }
  .leaflet-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 0;
    width: 200px;
  }
  .leaflet-popup-content-wrapper {
    padding: 0;
  }
  .leaflet-popup-content h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }
  .leaflet-popup-content div {
    padding: 10px;
  }
  .leaflet-container .leaflet-marker-icon {
    cursor: pointer;
  }
  */

  .navbar-dark .navbar-brand {
      background: #fff;
      padding: 3px !important;
  }

  /* Rate Analysis CSS Start */
.rateAnalysisContainer,
.rateAnalysisChangeContainer {
  -webkit-box-shadow: 1px 2px 5px darkgrey;
          box-shadow: 1px 2px 5px darkgrey;
  padding: 12px;
}

.rateAnalysisContainer h5,
.rateAnalysisChangeContainer h5 {
  padding: 12px;
}

.rateAnalysisContainer .table,
.rateAnalysisChangeContainer .table {
  margin-bottom: 0;
  border-spacing: revert;
}

.rateAnalysisContainer .table thead > tr > th,
.rateAnalysisContainer .table thead > tr > td, .rateAnalysisContainer .table tbody > tr > th,
.rateAnalysisContainer .table tbody > tr > td,
.rateAnalysisChangeContainer .table thead > tr > th,
.rateAnalysisChangeContainer .table thead > tr > td,
.rateAnalysisChangeContainer .table tbody > tr > th,
.rateAnalysisChangeContainer .table tbody > tr > td {
  padding: 12px 8px;
  color: #ffffff;
  font-weight: normal;
  width: 90px !important;
  font-family: 'Lora', serif;
  text-align: center;
}

.rateAnalysisContainer .table tfoot tr td,
.rateAnalysisChangeContainer .table tfoot tr td {
  padding: 12px 8px 12px 0;
  border-top: 1px solid #dee2e6;
  border-right: none;
}

.rateAnalysisContainer .table tfoot tr td span,
.rateAnalysisChangeContainer .table tfoot tr td span {
  font-size: 14px;
  border: 1px solid #dee2e6;
  background: #dee2e6;
  border-radius: 5px;
  padding: 5px 10px;
}

.rateAnalysisContainer .table thead > tr > th,
.rateAnalysisChangeContainer .table thead > tr > th {
  background: #0c1639;
  border-right: none;
  font-size: 12px;
  white-space: normal;
}

.rateAnalysisContainer .table thead > tr > th:first-child .form-check-input,
.rateAnalysisChangeContainer .table thead > tr > th:first-child .form-check-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  opacity: 1;
}

.rateAnalysisContainer .table tbody > tr > td,
.rateAnalysisChangeContainer .table tbody > tr > td {
  border-top: none;
  background: #4599b3;
  font-size: 11px;
  word-break: break-all;
  white-space: normal;
}

.rateAnalysisContainer .table tbody > tr > td:last-child,
.rateAnalysisChangeContainer .table tbody > tr > td:last-child {
  text-align: left;
}

.rateAnalysisContainer .table tbody > tr > td:first-child .form-check-input,
.rateAnalysisChangeContainer .table tbody > tr > td:first-child .form-check-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  opacity: 1;
}

.rateAnalysisContainer .table tbody > tr > td a,
.rateAnalysisChangeContainer .table tbody > tr > td a {
  color: #ffffff;
  text-decoration: none;
}

.rateAnalysisContainer .table tbody > tr > td a:hover,
.rateAnalysisChangeContainer .table tbody > tr > td a:hover {
  text-decoration: underline;
}

.rateAnalysisContainer .table tbody > tr > td .crud,
.rateAnalysisChangeContainer .table tbody > tr > td .crud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rateAnalysisContainer .table tbody > tr > td .crud a,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a {
  cursor: pointer;
  font-size: 14px;
  border: 1px solid;
  padding: 2px 5px;
}

.rateAnalysisContainer .table tbody > tr > td .crud a.btn-edit,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a.btn-edit {
  background: #ffc107;
}

.rateAnalysisContainer .table tbody > tr > td .crud a.btn-approve,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a.btn-approve {
  background: #198754;
}

.rateAnalysisContainer .table tbody > tr > td .crud a.btn-reject,
.rateAnalysisChangeContainer .table tbody > tr > td .crud a.btn-reject {
  background: #dc3545;
}

.rateAnalysisContainer .table tbody > tr > td .crud i,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i {
  cursor: pointer;
}

.rateAnalysisContainer .table tbody > tr > td .crud i.bi-pencil-fill::before,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i.bi-pencil-fill::before {
  color: #ffa500;
}

.rateAnalysisContainer .table tbody > tr > td .crud i.bi-trash3-fill::before,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i.bi-trash3-fill::before {
  color: #ff0000;
}

.rateAnalysisContainer .table tbody > tr > td .crud i.bi-x-octagon-fill::before,
.rateAnalysisChangeContainer .table tbody > tr > td .crud i.bi-x-octagon-fill::before {
  color: #bff1f3;
}

.rateAnalysisContainer .table tbody td, .rateAnalysisContainer .table tbody th,
.rateAnalysisChangeContainer .table tbody td,
.rateAnalysisChangeContainer .table tbody th {
  padding: 12px 8px;
  border-right: none;
}

.rateAnalysisContainer #polygon_data_wrapper,
.rateAnalysisChangeContainer #polygon_data_wrapper {
  margin-top: 15px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_filter label,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_filter label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_filter label input,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_filter label input {
  border: 1px solid darkgray;
  -webkit-box-shadow: 1px 2px 5px darkgrey;
          box-shadow: 1px 2px 5px darkgrey;
  padding: 10px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_length label,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_length label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 15px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_length label select,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_length label select {
  border: 1px solid darkgray;
  padding: 5px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_info,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_info {
  font-size: 15px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_paginate,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_paginate {
  font-size: 15px;
  margin-bottom: 15px;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button {
  border: none;
  background: #4599b3;
  color: #ffffff !important;
  opacity: 1;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button:hover,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button:hover {
  background: #67a5b9;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button.current,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button.current {
  background: #0e1941;
  color: #ffffff;
}

.rateAnalysisContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button.disabled,
.rateAnalysisChangeContainer #polygon_data_wrapper #polygon_data_paginate .paginate_button.disabled {
  background: #4599b3;
  color: #ffffff;
  opacity: 0.7;
}

.rateAnalysisChangeContainer .btnContainerTop {
  gap: 15px;
}

.rateAnalysisChangeContainer .btnContainerTop .btn {
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #4599b3 !important;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

.rateAnalysisChangeContainer .btnContainerTop .btn:hover {
  background: #5fa2b7 !important;
}

.rateAnalysisChangeContainer input {
  opacity: 1;
}

.rateAnalysisChangeContainer #crumbs ul li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rateAnalysisChangeContainer #crumbs ul li:first-child a::before {
  display: none;
}

.rateAnalysisChangeContainer #crumbs ul li:last-child a {
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rateAnalysisChangeContainer #crumbs ul li:last-child a::after {
  display: none;
}

.rateAnalysisChangeContainer #crumbs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  background: #4599b3;
  text-align: center;
  padding: 5px 10px 5px 20px;
  position: relative;
  margin: 0 10px 0 0;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}

.rateAnalysisChangeContainer #crumbs ul li a::after {
  content: "";
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 10px solid #4599b3;
  position: absolute;
  right: -10px;
  top: 0;
}

.rateAnalysisChangeContainer #crumbs ul li a::before {
  content: "";
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  left: 0;
  top: 0;
}

.rateAnalysisChangeContainer #crumbs ul li a.inProgress {
  background: #f0ad4e;
}

.rateAnalysisChangeContainer #crumbs ul li a.inProgress::after {
  border-left-color: #f0ad4e;
}

.rateAnalysisChangeContainer #crumbs ul li a.reject {
  background: #d9534f;
}

.rateAnalysisChangeContainer #crumbs ul li a.reject::after {
  border-left-color: #d9534f;
}

.rateAnalysisChangeContainer #crumbs ul li a.approve {
  background: #5cb85c;
}

.rateAnalysisChangeContainer #crumbs ul li a.approve::after {
  border-left-color: #5cb85c;
}

.rateAnalysisChangeContainer select,
.rateAnalysisChangeContainer select option {
  cursor: pointer;
}

.rateAnalysisChangeContainer .basicInfo,
.rateAnalysisChangeContainer .metricInfo,
.rateAnalysisChangeContainer .otherInfo {
  background: #ffffff;
  color: #212529;
  -webkit-box-shadow: 1px 2px 5px darkgray;
          box-shadow: 1px 2px 5px darkgray;
  border-radius: 5px;
}

.rateAnalysisChangeContainer .basicInfo h5,
.rateAnalysisChangeContainer .metricInfo h5,
.rateAnalysisChangeContainer .otherInfo h5 {
  background: #4599b3;
  color: #ffffff;
  border-radius: 5px;
}

.rateAnalysisChangeContainer .historyDetails {
  -webkit-box-shadow: 1px 2px 5px darkgray;
          box-shadow: 1px 2px 5px darkgray;
  border-radius: 5px;
}

.rateAnalysisChangeContainer .historyDetails ul .nav-item .nav-link {
  background: #4599b3 !important;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lora', serif;
}

.rateAnalysisChangeContainer .historyDetails ul .nav-item .nav-link.active {
  background: #0e1941 !important;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > th,
.rateAnalysisChangeContainer .historyDetails .table thead > tr > td,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > th,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > td {
  word-break: unset;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > th:last-child,
.rateAnalysisChangeContainer .historyDetails .table thead > tr > td:last-child,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > th:last-child,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > td:last-child {
  width: 90px !important;
  text-align: center;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > th,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > th {
  font-size: 14px;
}

.rateAnalysisChangeContainer .historyDetails .table thead > tr > td,
.rateAnalysisChangeContainer .historyDetails .table tbody > tr > td {
  font-size: 13px;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item a {
  background: #4599b3;
  color: #ffffff;
  opacity: 1;
  font-weight: bold;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item a:hover {
  background: #67a5b9;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item.active a {
  background: #0e1941;
}

.rateAnalysisChangeContainer .paginations .pagination .page-item.disabled a {
  background: #4599b3;
  color: #ffffff;
  opacity: 0.7;
}