{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static "calc/css/style.css" %}">
    <script src="{% static "calc/js/main.js" %}"></script>

    <title>Analysis</title>

    <section class="main-container analysisContainer">
        <header class="mb-4">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-md-10 col-lg-9 order-1 order-md-0 d-flex align-items-center topHeader">
                        <h1>Wiley <small>Online Open Pricing Calculator</small></h1>
                    </div>
                    <div>
<!--                        class="col-md-2 col-lg-3 btnContainer d-flex flex-md-column justify-content-between align-items-center py-2">-->
<!--                        <img class="col-md-12 col-lg-7 mb-2 logo" src="images/logo.png" alt="SKP logo">-->
<!--                        <button type="button" class="col-md-12 col-lg-6 btn border userGuide">User Guide</button>-->
                    </div>
                </div>
            </div>
            <div class="bgColor col-12 d-flex">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
        </header>
        <div class="container-fluid my-3">
            <p> Your request has been raised. </p>
        </div>
    </section>

{% endblock %}