{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static "calc/css/style.css" %}">

<section class="main-container">
    <div class="container-md my-4">
        <div class="rateAnalysisChangeContainer bg-white p-3">
            <h4 class="mb-3 pb-3 border-bottom">Change Rate Analysis / {{ scenario_data.rate_analysis_no }}</h4>
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-6 mb-2 mb-lg-0">
                        <div class="d-sm-flex btnContainerTop flex-wrap flex-lg-nowrap">
                            {%if scenario_data.status == 'pending' %}
                            <div class="col-sm-3">
                                <input type="submit" form="rate-analysis-form" name="status" value="{% trans 'Approve' %}" class="btn text-white fw-bold m-sm-0 my-1" id="approve">
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" form="rate-analysis-form" name="status" value="{% trans 'Reject' %}" class="btn text-white fw-bold m-sm-0 my-1" id="reject">
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" form="rate-analysis-form" name="status" value="{% trans 'Cancel' %}" class="btn text-white fw-bold m-sm-0 my-1" id="cancel">
                            </div>
                            <div class="col-sm-3">
                            <a href="/financial-analysis/rate_analysis_id={{scenario_data.id|stringformat:'i'}}" target="_blank" >
                                <input type="button" form="rate-analysis-form" value="{% trans 'Edit Price' %}" class="btn text-white fw-bold m-sm-0 my-1" id="edit_price">
                            </a>
                            </div>

                            {% endif %}
                            {%if scenario_data.status in 'approve,reject' %}
                            <div class="col-sm-3">
                                <input type="submit" form="rate-analysis-form" name="status" value="{% trans 'Re-Open' %}" class="btn text-white fw-bold m-sm-0 my-1" id="reopen">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex justify-content-md-start justify-content-lg-end align-items-center">
                        <div id="crumbs">
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                                <li class="mb-xl-0 mb-1"><a class="fw-bold {%if scenario_data.status == 'pending' %} selected_status {% endif %}" id="pending">Pending for Approval</a></li>
                                <li class="mb-xl-0 mb-1"><a class="fw-bold {%if scenario_data.status == 'approve' %} selected_status {% endif %}" id="approve">Approved</a></li>
                                <li class="mb-xl-0 mb-1"><a class="fw-bold {%if scenario_data.status == 'reject' %} selected_status {% endif %}" id="reject">Rejected</a></li>
                                <li class="mb-xl-0 mb-1"><a class="fw-bold {%if scenario_data.status == 'cancel' %} selected_status {% endif %}" id="cancel">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <form id="rate-analysis-form"  method="POST">
                {% csrf_token %}
                <div class="basicInfo p-3 mb-4">
                    <h5 class="mb-3 p-3 py-2">Basic Info</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <label for="rate_analysis_no" class="form-label">Rate Analysis Number</label>
                            <input type="text" id="rate_analysis_no" readonly value="{{scenario_data.rate_analysis_no}}" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="scenario" class="form-label">Scenario</label>
                            <input type="text" id="scenario" readonly value="{{scenario_data.scenario_id.name}}" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="referenceDocument" class="form-label">Reference Document</label>
                            <div class="d-flex">
                                <input type="text" id="referenceDocument" readonly value="{{scenario_data.document_id.get_file_name}}" class="form-control m-0 me-1">
                                <a href="{{scenario_data.document_id.document.url}}">
                                    <img src="{% static 'calc/images/download.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <label for="filterPercentage" class="form-label">Filter Percentage</label>
                            <input type="text" id="filterPercentage" readonly value="{{scenario_data.filter_perc|floatformat:'2'}}" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="societyApprovalRate" class="form-label">Society Approval Rate (%)</label>
                            <input type="text" id="societyApprovalRate" readonly value="{{scenario_data.society_approval_rate_perc|floatformat:'2'}}" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="avgPriceChange" class="form-label">Average Price Change (%)</label>
                            <input type="text" id="avgPriceChange" readonly value="{{scenario_data.avg_price_change_perc|floatformat:'2'}}" class="form-control m-0">
                        </div>
                    </div>
                </div>

                <div class="basicInfo p-3 mb-4">
                    <h5 class="mb-3 p-3 py-2"> Comment Info </h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" id="description" name="description" value="{{scenario_data.description}}" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <label for="remark" class="form-label">Approve/Reject Remarks</label>
                            <input type="text" id="remarks" name="remarks" value="{{scenario_data.remarks}}" class="form-control m-0">
                        </div>
                    </div>
                </div>

                <div class="otherInfo p-3 mb-4">
                    <h5 class="mb-3 p-3 py-2">Other Info</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <label for="createdDate" class="form-label">Created Date</label>
                            <input type="text" id="createdDate" readonly value="{{scenario_data.created_at|date:'d-m-Y H:i:s'}}" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <label for="createdBy" class="form-label">Created By</label>
                            <input type="text" id="createdBy" readonly value="{{scenario_data.created_by.username|capfirst}}" class="form-control m-0">
                        </div>
                        {% if scenario_data.modified_by%}
                            <div class="col-md-6 col-lg-3">
                                <label for="modifiedDate" class="form-label">Modified Date</label>
                                <input type="text" id="modifiedDate" readonly value="{{scenario_data.modified_at|date:'d-m-Y H:i:s'}}" class="form-control m-0">
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="modifiedBy" class="form-label">Modified By</label>
                                <input type="text" id="modifiedBy" readonly value="{{scenario_data.modified_by.username|capfirst}}" class="form-control m-0">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <div class="historyDetails p-3">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item col-md-5 col-lg-4" role="presentation">
                              <button class="nav-link active w-100 rounded-0 p-3" id="rate-details-tab" data-bs-toggle="pill" data-bs-target="#rate-details" type="button" role="tab" aria-controls="rate-details" aria-selected="true">Rate Analysis Details</button>
                            </li>
                            <li class="nav-item col-md-5 col-lg-4" role="presentation">
                              <button class="nav-link w-100 rounded-0 p-3" id="rate-history-tab" data-bs-toggle="pill" data-bs-target="#rate-history" type="button" role="tab" aria-controls="rate-history" aria-selected="false">Rate Analysis History</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="rate-details" role="tabpanel" aria-labelledby="rate-details-tab">
                                <div class="table-responsive">
                                    <table class="table" id="rateAnalysisDetails">
                                      <thead>
                                        <tr>
                                            <th scope="col">Ownership Structure</th>
                                            <th scope="col">APC Change (%)</th>
                                            <th scope="col">Number of Journal</th>
                                            <th scope="col">Revenue Change</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% if scenario_details_data %}
                                        {% for loop in scenario_details_data %}
                                            <tr>
                                                <td>{{loop.ownership_structure}}</td>
                                                <td>{{loop.apc_change_perc}}</td>
                                                <td>{{loop.journal_count|floatformat:"2"}}</td>
                                                <td>{{loop.revenue_change|floatformat:"2"}}</td>
                                            </tr>
                                        {% endfor %}
                                        {% endif %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="rate-history" role="tabpanel" aria-labelledby="rate-history-tab">
                                <div class="table-responsive">
                                    <table class="table" id="rateAnalysisHistory">
                                      <thead>
                                        <tr>
                                            <th scope="col">Modified Date</th>
                                            <th scope="col">Modified By</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Filter Percentage</th>
                                            <th scope="col">Society <br/> Approval Rate (%)</th>
                                            <th scope="col">Average Price Change (%)</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Approve / Reject Remarks</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% if scenario_history_data %}
                                        {% for loop in scenario_history_data %}
                                        <tr>
                                            <td>{{loop.created_at|date:"d-m-Y H:i:s"}}</td>
                                            <td>{{loop.created_by.username|capfirst}}</td>
                                            <td>{{loop.action_verbose}}</td>
                                            <td>{{loop.filter_perc|floatformat:'2'}}</td>
                                            <td>{{loop.society_approval_rate_perc|floatformat:'2'}}</td>
                                            <td>{{loop.avg_price_change_perc|floatformat:'2'}}</td>
                                            <td>{{loop.status_verbose}}</td>
                                            <td>{{loop.remarks}}</td>
                                            <td>{{loop.description}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- <div class="paginations mb-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-md-end justify-content-center flex-wrap">
                      <li class="page-item disabled">
                        <a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item active"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a>
                      </li>
                    </ul>
                </nav>
            </div> -->
        </div>
    </div>
</section>
<script src="{% static "calc/js/main.js" %}"></script>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}