{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static "calc/css/style.css" %}">

<section class="main-container">
    <div class="container-md my-4">
        <div class="rateAnalysisChangeContainer bg-white p-3">
            <h4 class="mb-3 pb-3 border-bottom">Change Rate Analysis</h4>
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-6 mb-2 mb-lg-0">
                        <div class="d-sm-flex btnContainerTop">
                            <div class="col-sm-3">
                                <button type="button" class="btn text-white fw-bold">Approve</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn text-white fw-bold">Reject</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn text-white fw-bold">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex justify-content-md-start justify-content-lg-end align-items-center">
                        <div id="crumbs">
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                                <li class="mb-sm-0 mb-1"><a class="fw-bold">In Progress</a></li>
                                <li class="mb-sm-0 mb-1"><a class="fw-bold reject">Rejected</a></li>
                                <li class="mb-sm-0 mb-1"><a class="fw-bold">Approved</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <form>
                <div class="basicInfo p-3 mb-5">
                    <h5 class="mb-3 p-3">Basic Info</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <label for="rateAnalysisNo" class="form-label">Rate Analysis No</label>
                            <input type="text" id="rateAnalysisNo" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="scenario" class="form-label">Scenario</label>
                            <input type="text" id="scenario" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="referenceDocument" class="form-label">Reference Document</label>
                            <input type="text" id="referenceDocument" class="form-control m-0">
                        </div>
                        <!-- <div class="col-md-6 col-lg-4">
                            <label for="status" class="form-label">Status</label>
                            <input type="text" id="status" class="form-control m-0">
                        </div> -->
                    </div>
                </div>

                <div class="metricInfo p-3 mb-5">
                    <h5 class="mb-3 p-3">Metrics Info</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <label for="filterPercentage" class="form-label">Filter Percentage</label>
                            <input type="text" id="filterPercentage" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="societyApprovalRate" class="form-label">Society Approval Rate (%)</label>
                            <input type="text" id="societyApprovalRate" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="avgPriceChange" class="form-label">Average Price Change (%)</label>
                            <input type="text" id="avgPriceChange" class="form-control m-0">
                        </div>
                    </div>
                </div>

                <div class="otherInfo p-3 mb-5">
                    <h5 class="mb-3 p-3">Other Info</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <label for="createdBy" class="form-label">Created By</label>
                            <input type="text" id="createdBy" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" id="description" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="modifiedBy" class="form-label">Modified By</label>
                            <input type="text" id="modifiedBy" class="form-control m-0">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label for="remark" class="form-label">Approve/Reject Remarks</label>
                            <input type="text" id="remark" class="form-control m-0">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-5">
                    <div class="historyDetails p-3">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item col-md-5 col-lg-4" role="presentation">
                              <button class="nav-link active w-100 rounded-0 p-3" id="rate-details-tab" data-bs-toggle="pill" data-bs-target="#rate-details" type="button" role="tab" aria-controls="rate-details" aria-selected="true">Rate Analysis Details</button>
                            </li>
                            <li class="nav-item col-md-5 col-lg-4" role="presentation">
                              <button class="nav-link w-100 rounded-0 p-3" id="rate-history-tab" data-bs-toggle="pill" data-bs-target="#rate-history" type="button" role="tab" aria-controls="rate-history" aria-selected="false">Rate Analysis History</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="rate-details" role="tabpanel" aria-labelledby="rate-details-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th scope="col">Ownership Structure</th>
                                            <th scope="col">APC Change (%)</th>
                                            <th scope="col">Number of Journal</th>
                                            <th scope="col">Revenue Change</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td>O-Proprietary Owned</td>
                                            <td>1-2%</td>
                                            <td>1.0</td>
                                            <td>737.175</td>
                                        </tr>
                                        <tr>
                                            <td>N-Society Owned</td>
                                            <td>6-10%</td>
                                            <td>1.0</td>
                                            <td>737.175</td>
                                        </tr>
                                        <tr>
                                            <td>N-Society Owned</td>
                                            <td>21-25%</td>
                                            <td>1.0</td>
                                            <td>737.175</td>
                                        </tr>
                                        <tr>
                                            <td>O-Proprietary Owned</td>
                                            <td>36-40%</td>
                                            <td>1.0</td>
                                            <td>737.175</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
    
                            <div class="tab-pane fade" id="rate-history" role="tabpanel" aria-labelledby="rate-history-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th scope="col">Filter Percentage</th>
                                            <th scope="col">Society Approval Rate (%)</th>
                                            <th scope="col">Average Price Change (%)</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Approve / Reject Remarks</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td>0.0</td>
                                            <td>0.0</td>
                                            <td>0.0</td>
                                            <td>Pending Approval</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>0.0</td>
                                            <td>40.0</td>
                                            <td>0.0</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>0.0</td>
                                            <td>0.0</td>
                                            <td>0.0</td>
                                            <td>Rejected</td>
                                            <td>-</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="paginations mb-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-md-end justify-content-center flex-wrap">
                      <li class="page-item disabled">
                        <a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item active"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a>
                      </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<script src="{% static "calc/js/main.js" %}"></script>
{% endblock %}