{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
<div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">

        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark text-decoration-none" href="#"> PANEL </a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">

        </div>
      </div>
    </header>
  </div>

<main class="container">
      <div class="col-md-10">
        <div class="pt-3">
          <div id="map" class="map mb-3" style='height: 500px;'></div>
          <!-- <pre id="info"></pre> -->
          <!-- <div class="area-box"> -->
            <!-- <p>Click the map to draw a polygon.</p> -->
            <!-- <div id="calculated-area"></div> -->
          <!-- </div> -->
            <table id="list_view">
                <thead>
                    <tr>

                    </tr>
                </thead>
            </table>
            <table id="yourLabelId" class="table table-bordered">
            <thead>
              <tr>
                <th> Co ordinates</th>
                <th> Locations</th>
                  <th> Remove</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
			</table>
            <button type="button" class="btn btn-primary submitbtn" style="display:none;">Create</button>
			<input type="hidden" name="area_value" id="area_value" value="">
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>

  </main>

<script>

	$(document).ready(function(){
<!--		showing_addresss()-->
		$("#yourLabelId").on('click','.btnDelete',function(){
			$(this).closest('tr').remove();
		});
    })


    mapboxgl.accessToken = 'pk.eyJ1IjoicHJhdmVlbmxrdW1hciIsImEiOiJjbDBncnp6MGcwMHBkM29vMjE2YjB5ZXJ2In0.luURpRwktZMoOvxihp_J_A';
    const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [77.75016552885222, 12.96832211908719], // starting position [lng, lat]
      zoom: 7 // starting zoom
    });

    $('#yourLabelId').hide();
    map.addControl(
      new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
      })
    );
	map.addControl(new mapboxgl.NavigationControl());

    map.on('click', (e) => {
      $('#yourLabelId').show();
	  $('.submitbtn').show()
      let store = e.lngLat.wrap();
      let locationValues = Object.values(store);
      let marker1 = new mapboxgl.Marker({ "color": "#198754" })
        .setLngLat(locationValues)
        .addTo(map);
      new mapboxgl.Popup()
        .setLngLat(locationValues)
        //.setHTML('you clicked here: <br/>' + locationValues)
        .addTo(map);
      // console.log(locationValues)

	  address = showing_table(store)
	  split_address = address.split(',')
<!--      store_address(split_address,store)-->

      add_value = {
        "lat": store.lng,
        "lat": store.lat,
        "city": split_address[0],
        "state": split_address[1],
      }
      console.log(add_value)
	  $('#area_value').val(function(i,val) {
			 return val + (!val ? '' : ', ') + "[" + add_value + "]";
	   });

    document.querySelector('#yourLabelId tbody').innerHTML += "<td data-lat='"+store.lat+"' data-lng='"+store.lng+"'>"+locationValues+"</td><td>"+split_address[0]+"</td><td><button type='button' class='btnDelete'>Remove</button></td></tr>"
<!--	  document.querySelector('#yourLabelId tbody').innerHTML += `<tr>-->
<!--              <td> ${locationValues} </td>-->
<!--              <td> ${address} </td>-->
<!--          </tr>`-->
    });


  </script>
  <script>
    $('.submitbtn').click(function(e){
		e.preventDefault();
		var rowCount = $('#yourLabelId tbody tr').length;
        var jsonObj = []
		$("#yourLabelId tbody td").each(function(){
			var lat = $(this).attr("data-lat")
			var lng = $(this).attr("data-lng")
			if (lat != undefined && lng != undefined){
				console.log(lat)
				console.log(lng)
				datas = {
				            'address_title': "test",
				            'address_type': "current",
				            'address_line1':"1st street",
				            'address_line2': "west",
				            'city':"chennai",
                            'state':"tamilnadu",
                            'country': "india",
                            'postal_code': "657680",
                            'latitude': lat,
                            'longitude': lng
					    }
				jsonObj.push(datas)
			}
		})

        jsonString = JSON.stringify(jsonObj);
        console.log(jsonString);
        $.ajax({
            type:"POST",
            url: "/add_address/",
            data: jsonString,
            dataType: 'json',
            success: function(res){
                console.log(res)
            }
        })
	})

	function showing_table(store){
	  url = "http://api.tiles.mapbox.com/v4/geocode/mapbox.places/" + store.lng + "," + store.lat + ".json?access_token=" + mapboxgl.accessToken
	  console.log(url)
	  var temp = null
      $.ajax({
        url: url,
		async: false,
        type: 'GET',
        dataType: 'json', // added data type
        success: function (res) {
          var address = res['features'][0]['place_name'];
		  temp = address
        }
      });
	  return temp;
	}

	function store_address(address,location){
		url = "/api/address-add/"
		value = {
				'address_title': "test",
				'address_type': "current",
				'address_line1':"1st street",
				'address_line2': "west",
				'city':address[0],
				'state':address[1],
				'country': "india",
				'postal_code': "657680",
				'latitude': location.lat,
				'longitude': location.lng
				}

		$.ajax({
        url: url,
        type: 'POST',
		data: value,
        dataType: 'json', // added data type
        success: function (res) {
			var response = res['result']
			showing_addresss()
        }
        });

	}

	function showing_addresss(){

		get_url = "/api/address-list/?post_code=1"
		$.ajax({
        url: get_url,
        type: 'GET',
        dataType: 'json', // added data type
        success: function (res) {
          var data = res['data'];
		  var html = ''
		  $.each(data, function(i, val){
			if(i%2 == 0){
				colour = "red"
			}else{
				colour = "green"
			}
		    var city = val['city']
			var state = val['state']
			var country = val['country']

			html+='<tr>'
            html+='<td>'
            html+='<i class="fa fa-map-marker fa-2x '+colour+'"> </i>'
            html+='</td>'
            html+='<td>'
            html+='<a href="#" class="map-btn button" data-latLng="77.580643,12.972442">'
            html+='<address class="mb-0">'
            html+='<strong> '+ city +' </strong><br>'+state+' <br>'+country+' <br>'
            html+='</address>'
            html+='</a>'
            html+='</td>'
            html+='</tr>'
			$("#map_details").html(html)

		  })
		 }
        })
	}
  </script>

{% endblock %}



