{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static "calc/css/style.css" %}">
<style>
    .mapboxgl-popup-content {
    min-width:200px;
    }
    .btn-close { background-color: transparent !important; }
</style>
<section class="main-container">
    <div class="container-md my-4">
        <div class="rateAnalysisContainer bg-white">
            <h5>View Panel</h5>
            <div class="table-responsive">
                <table class="table" id="rateAnalysis">
                    <thead>
                        <tr>
                           <th scope="col">Panel No</th>
                            <th scope="col">Player No</th>
                            <th scope="col">Market </th>
                            <th scope="col">Co ordinates</th>
                            <th scope="col">Description</th>
                            <th scope="col">City</th>
                            <th scope="col">Media Type</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for add in address_data %}
                        <tr>
                            <td >{{add.panel_no}}</td>
                            <td>{{add.player_no}}</td>
                            <td>{{add.market_name}}</td>
                            <td>
                                <a href="#" class="map-btn button" data-bs-toggle="modal" data-bs-target="#myModal"
                                   style="background: transparent;text-decoration: underline;"
                                   data-latLng="{{add.longitude}},{{add.latitude}}" data-panel="{{add.panel_no}}"
                                data-player_no="{{add.player_no}}" data-market_name="{{add.market_name}}">
                                    {{add.longitude}},{{add.latitude}}
                                </a>
                            </td>
                            <td>{{add.description}}</td>
                            <td>{{add.city}}</td>
                            <td>{{add.media_type}}</td>


<!--                            <td>-->
<!--                                <div class="crud">-->
<!--                                    {% if request.user.is_superuser %}-->
<!--                                        <a class="bi bi-pencil-fill" href="#"></a>-->
<!--                                    {% else %}-->

<!--                                        {% if scenario.status == 'pending' %}-->
<!--                                            <a class="bi bi-pencil-fill" href="/financial-analysis/rate_analysis_id={{ scenario.id }}"-->
<!--                                            data-toggle="tooltip" data-placement="top" title="Edit"></a>-->
<!--                                            &nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                                            <button class="bi bi-pencil-fill btn-approve" value="{{ scenario.id }}" data-toggle="tooltip" data-placement="top" title="Approve"></button>-->
<!--                                            &nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                                            <button class="bi bi-pencil-fill btn-reject" value="{{ scenario.id }}" data-toggle="tooltip" data-placement="top" title="Reject"></button>-->
<!--                                        {% endif %}-->
<!--                                    {% endif %}-->
<!--                                </div>-->
<!--                            </td>-->

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
<!--                    <td colspan="8"><span class="fw-bold">{{ address_data|length }} Total</span></td>-->
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to <label id="button_lable" value=""></label> selected scenario ?</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-si">Submit</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Map view</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="pt-3">
            <div id="map" class="map mb-3" style='margin: 0 auto; height:400px'></div>
        </div>
      </div>
    </div>
  </div>
</div>

                <div class="col-md-12">

            </div>

</section>
<script src="{% static "calc/js/main.js" %}"></script>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"-->
<!--        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

    <script>

        $(document).on("click", ".button", function (e) {
            e.preventDefault();
            var latLng = $(this).attr("data-latLng");
            var panel = $(this).attr("data-panel");
            var player = $(this).attr("data-player_no");
            var market = $(this).attr("data-market_name");
            let newLat = latLng.split(',');
            let long = parseFloat(newLat[0]);
            let lat = parseFloat(newLat[1]);
            // initialize(latLng);
            // let locationValuesa = long + ',' + lat;

            mapboxgl.accessToken = 'pk.eyJ1IjoicHJhdmVlbmxrdW1hciIsImEiOiJjbDBncnp6MGcwMHBkM29vMjE2YjB5ZXJ2In0.luURpRwktZMoOvxihp_J_A';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                center: [long, lat], // starting position [lng, lat]
                // center: latLng,
                zoom: 14 // starting zoom
            });

            // Create a default Marker and add it to the map.
            const marker1 = new mapboxgl.Marker()
                .setLngLat([long, lat])
                .setPopup(new mapboxgl.Popup({
                    closeButton: false,
                    closeOnClick: false,
                    closeOnMove: true,
                    maxWidth: "auto"
                }).setHTML('<h5 class="mb-0">'+long+' '+lat+'</h5><h5 class="mb-0">'+panel+'</h5><h5 class="mb-0">'+player+'</h5><h5 class="mb-0">'+market+'</h5>'))
                .addTo(map);
            marker1.togglePopup();
        });
    </script>
<!--<script src="{% static "calc/js/main.js" %}"></script>-->
{% endblock %}